body {
  background-color: rgb(243, 233, 214);
  margin: 0;

  /* disable scrollbar */
  /* overflow: hidden; */
}

canvas {
  /* margin: 0 auto; */
  /* display: block;   */
  width: auto !important;
  height: 90% !important;
  /* !important überschreibt alle vorherigen Regeln */
}

#simulation {
  /* erweitert oder verkleinert Element je nach Platz */
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

#p5_loading {
  background-color: brown;
  /* background: url("./assets/img/testBild.png"); */
  position: relative;
  width: 100vw;
  height: 100vh;
}
